<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <!-- Public sources are inherited from user configuration so each machine can apply its own package-feed policy. -->
  <packageSources>
    <add key="RylogicLocal" value="lib\packages" />
    <add key="RylogicLocal-Debug" value="lib\packages\debug" />
    <add key="RylogicLocal-Release" value="lib\packages\release" />
  </packageSources>
</configuration>
  <!--
  <packageSources>
    <clear />
    <add key="RylogicFeed" value="https://pkgs.dev.azure.com/rylogic/Code/_packaging/RylogicFeed/nuget/v3/index.json" />
  </packageSources>
  -->
